<!-- _part/asset/script/custom -->

<script src="office/jam/utility/ChangeMoney.js"></script>
<script src="office/jam/utility/Deal.js"></script>

<template data-id="changeMoneyForm">
    <div class="form">
        <div class="alert-danger alert hidden"></div>
        <div class="form-attr form-group row required">
            <label class="col-md-3 col-form-label" data-t="">Amount</label>
            <div class="col-md-9">
                <input name="money" type="text" class="form-control form-value" required>
                <div class="error-block"></div>
            </div>
        </div>
    </div>
</template>
