<!-- _part/asset/script/custom -->

<script src="office/jam/utility/ChangeMoney.js"></script>
<script src="office/jam/utility/Deal.js"></script>

<template data-id="changeMoneyForm">
    <div class="form-horizontal form">
        <div class="alert-danger alert hidden"></div>
        <div class="form-attr form-group required">
            <label class="col-md-2 control-label" data-t="">Amount</label>
            <div class="col-md-10">
                <input name="money" type="text" class="form-control form-value">
                <div class="error-block"></div>
            </div>
        </div>
    </div>
</template>
