body {
    --back-light: #fafaf8;
    --navbar-color: var(--light-warning);
    --super-navbar-color: var(--dark-warning);
    --sidebar-width: 0;
}
.pagination {
    margin-top: 20px;
}
.pagination > li > a {
    padding: 6px 12px;
}
.super-title {
    margin-top: 30px;
}
.subtitle {
    margin: 20px 0 30px;
    font-size: 18px;
    color: #444;
}
.modal-footer {
    text-align: center;
}
.block {
    padding: 15px;
    background: #fff;
}
.block-title {
    margin: 5px 0 20px;
}

/* LOADABLE */

.loadable-container {
    position: relative;
}
.loadable-container > .loader {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}
.loadable-container.loading > .loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PAGE */

.page {
    display: none;
}
.page.active {
    display: block;
}
.page h1 {
    font-size: 30px;
    margin: 30px 0;
}
.page > h3 {
    color: #888;
}
.page-head {
    position: relative;
}
.page .icon-title h1 {
    margin: 25px 0 10px;
}
.page .icon-title .img-thumbnail {
    margin: 0 2rem 1rem 0;
}

/* ACCOUNT */

.account-block {
    position: absolute;
    right: 0;
    top: 0;
}
.account-block > div {
    display: inline-block;
}
.user-toggle,
.lot-toggle {
    cursor: pointer;
    color: #666;
}
.lot-toggle:hover,
.user-toggle:hover {
    color: var(--dark-primary);
}
.lot-toggle,
.money-block,
.user-toggle .dropdown-toggle {
    padding: 0 12px;
}

/* ROW ITEMS */

.row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4f4f0;
}
.row-item:first-child {

}
.row-item:nth-child(odd) {
    background: #fafafa;
}
.row-item .cell {
    padding: 15px;
    overflow: hidden;
}
.row-item .cell > label {
    color: #888;
}
@media (max-width: 768px) {
    .row-item .cell {
        width: auto !important;
    }
}

/* FILES */

.file-item + .file-item {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.file-item-link {
    margin: 10px 0;
}
.file-uploader-commands {
    margin: 5px 0 15px;
    text-align: right;
}
.file-uploader-item {
    position: relative;
    padding-right: 35px;
}
.file-uploader-item + .file-uploader-item {
    margin-top: 15px;
}
.file-uploader-item .btn {
    position: absolute;
    right: 0;
    top: 0;
}

/* COMPANY */

.company-card {
    margin: 0 auto 20px;
    padding: 15px;
    background: #fff;
    overflow: auto;
    border-bottom: 2px solid var(--dark-primary);
    text-align: center;
    max-width: 320px;
}
.company-card .img-thumbnail {
    margin: 0 auto;
    max-width: 70%;
    min-height: 120px;
    border: none;
}
.company-card a + h3 {
    margin: 1rem 0 0;
}
.company-card h3 a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}
.company-shares {
    margin-top: 20px;
    font-size: 110%;
}

/* LOT */

.lot-tools {
    text-align: left;
    margin-bottom: 20px;
}
.lot-item {
    justify-content: left;
}
.lot-item-id {
    width: 23%;
}
.lot-item-type {
    width: 12%;
}
.lot-item-company {
    width: 18%;
}
.lot-item-shares {
    width: 15%;
}
.lot-item-value {
    width: 15%;
}
.company .lot-item-id {
    width: 30%;
}
.company .lot-item-type {
    width: 15%;
}
.company .lot-item-shares {
    width: 15%;
}
.company .lot-item-value {
    width: 15%;
}
.lot-modal.owned [data-command="deal"] {
    display: none;
}

/* STOCK */

.stock-item-id {
    width: 35%;
}
.stock-item-company {
    width: 35%;
}
.stock-item-shares {
    width: 30%;
}