
<div class="page" data-page="company" data-handler="CompanyPage">

    <div class="company loadable-container" data-handler="Company">

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>

        <template data-id="company">
            <div class="page-head">
                <ol class="breadcrumb">
                    <li><a href="#" data-action="main" data-t="">Main</a></li>
                    <li data-t="">Company</li>
                </ol>
                <%- include('./_account') %>
            </div>

            <h1 data-t="meta.class.company">{{name}}</h1>

            <div class="row">
                <div class="col-sm-2 hidden-xs">
                    <img data-src="<%- _url('/api/base/file/download') %>?v=.logo&id={{logo}}"
                         class="thumbnail transparent img-responsive" alt="{{name}}">
                </div>
                <div class="col-sm-10">
                    {{description}}
                    <div class="company-shares">
                        <b data-t="">Total shares:</b>
                        {{shares}}
                    </div>
                </div>
            </div>

            <div class="block mt10">
                <h3 class="block-title" data-t="">Active lots</h3>

                <%- include('./_companyLots') %>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

    </div>
</div>