<template id="lots">
    <div class="loadable-container">

        <div class="lot-tools">
            <div class="lot-filter btn-group">
                <template v-for="[value, label] of [[null,'All'],['sale','Sale'],['purchase','Purchase']]">
                    <button @click="changeFilter(value)" type="button"
                            :class="{'active': activeFilter === value, 'btn-outline-secondary btn': true}">
                        <span data-t="">{{label}}</span>
                    </button>
                </template>
            </div>
            <div class="btn-group float-end">
                <button v-if="activeNew" @click="onNew" type="button" class="btn-success btn">
                    <span data-t="">New lot</span>
                </button>
            </div>
        </div>

        <div class="lot-items">
            <div v-for="item of items" :key="item.id" class="lot-item row-item">
                <div class="lot-item-id cell">
                    <div class="value">
                        <a @click.prevent="onLot(item)" href="#">{{item.id}}</a>
                    </div>
                </div>
                <div class="lot-item-type cell">
                    <div :class="[item.type, 'value']">
                        <i class="text-danger fas fa-sign-out-alt" data-id="sale"></i>
                        <i class="text-success fas fa-sign-in-alt" data-id="purchase"></i>
                        <span data-t="meta.class.lot">{{item.typeTitle}}</span>
                    </div>
                </div>
                <div v-if="isCell('company')" class="lot-item-company cell">
                    <label data-t="">Company</label>
                    <div class="value">
                        <a @click.prevent="toCompany(item.company)" href="#">
                            {{item.companyTitle}}
                        </a>
                    </div>
                </div>
                <div class="lot-item-shares cell">
                    <label data-t="">Shares</label>
                    <div class="value">{{item.shares}}</div>
                </div>
                <div class="lot-item-value cell">
                    <label data-t="meta.class.lot">Value</label>
                    <div class="value">{{item.value}}</div>
                </div>
                <div v-if="isCell('owner')" class="lot-item-owner cell">
                    <label data-t="">Owner</label>
                    <div class="value">{{item.ownerTitle}}</div>
                </div>
                <div v-if="isCell('state')" class="lot-item-state cell">
                    <label data-t="">State</label>
                    <div class="value" data-t="meta.class.lot">{{item.stateTitle}}</div>
                </div>
            </div>
        </div>

        <pagination></pagination>

        <div v-show="!loading && empty" class="alert-warning alert">
            <span data-t="">No lots found</span>
        </div>

        <div v-show="loading" class="loader">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</template>